mat-grid-tile {
  background: lightblue;
}

mat-form-field{
  margin-top: 8px;
  width: 12em;
}
mat-list-item{
  background: #011b8df1;
  height: fit-content;
  margin-top: 5px;
}
mat-card{
  display: flex;
  justify-content: space-between;
}
img{
  width: 5em;
  height: 5em;
  border-radius: 100%;
}
mat-card-title{
  color: rgba(43, 126, 252, 0.87);
}
.status-pending {
  color: rgba(245, 9, 21, 0.87);
}
.status-delivered{
  color: rgba(9, 245, 107, 0.87);
}
ul{
  display: block;
  margin: 1em;
}
.wrapper_btn_consultar{
  display: flex;
  justify-content: end;
  align-items: center;
}
.btn-consultar{
  background-color: rgb(0, 255, 76);
}
mat-icon{
  color: rgb(33, 45, 223);
}
.customer{
  width: 99%;
  border-radius: 5px;
  border: solid rgba(9, 43, 238, 0.185);
}
.navTitle{
  display: flex;
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
  align-items: self-start;
  justify-items: flex-start;
  justify-content: space-between;
  width: 50%;
  
}
.first-card{
  background-color: white;
}
mat-card-header{
  display: flex;
  justify-content: center;
  object-position: center;
}
mat-card-subtitle{
  color: black;
}
mat-card-actions{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center ;
  align-items: center;
  padding: 10px
}
.Cajones{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid red;
  border-radius: 5px;
  width:10em;
  height: 4em;
}
.Bolsas{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid red;
  border-radius: 5px;
  width:10em;
  height: 4em;
}
.Sustituciones{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid red;
  border-radius: 5px;
  width:10em;
  height: 4em;
}
.input-disabled{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
mat-form-field{
  width: 100%;
}
/* mat-label{
  color: black;
} */
.textarea{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: solid rgba(9, 43, 238, 0.185);
}
.input-area{
  display: flex;
  border: solid rgba(9, 43, 238, 0.185)
}
.btn_add{
  background-color: rgb(51, 160, 250);
  border-radius: 5px;
  height: 2em;
}
.input-element{
  display: flex;
  border: solid rgba(9, 43, 238, 0.185);
  justify-content: center;
  align-items: center;
}
.cls-span{
  margin-left: -1.1em;
  margin-top: 10px;
}
.cls-con{
  margin-left: -2.5em;
  margin-top: 10px;
}
.cls-sec{
  margin-left: -1.3em;
  margin-top: 10px;
}
.cls-fue{
  margin-left: -1.5em;
  margin-top: 10px;
}
input::placeholder{
  color: blue;
  opacity: 2;
}




