<header>
    <app-logo/>
</header>
<div class="navTitle">
    <div><b>{{navTitle}}</b></div>
    <div></div>
</div>
<section>
    <span *ngIf="showLoad">{{load}}</span>
</section>
<br>
<section>
    <app-form-data [formData]="customerData"
        [showDetailForm]="showDetailForm"
        [disabledBtnSubmit]="disabledBtnSubmit"
        [showLoad]="showLoad"
        [isEnabled]="isEnabled"
        [showFooter]="showFooter"
        [submit]="submit"
        [updateResponse]="updateResponse"
        [icon]="icon"
        [btn_btn]="btn_btn"
        [btn_color]="btn_color"
        (sendEmitter)="submitData($event)"/>
</section>