/* You can add global styles to this file, and also import other style files */
/* :root{
    color-scheme: dark;
} */
@import "primeicons/primeicons.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@media (max-width: 420px) {
    .btn_btn{
        display: flex;
        width: 100%;
        height: 3em;
    } 
    .btn_good{
        display: flex;
        width: 80%;
        height: 3em;
        background-color: green;
    }
    .btn_bad{
        display: flex;
        width: 80%;
        height: 3em;
    }
  }
  @media (min-width: 420px) {
    .btn_btn{
        display: flex;
        width: 80%;
        height: 3em;
    }
    .btn_good{
        display: flex;
        width: 80%;
        height: 3em;
    }
    .btn_bad{
        display: flex;
        width: 80%;
        height: 3em;
    }
  }
  .red-snackbar{
    color:white;
  }

  .btn-footer {
    display: flex;
    border-top: 1px solid #eeeeee;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn-footer {
    display: flex;
    border-top: 1px solid #eeeeee;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }  